<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="CodeJCore.UiSystemDependency" name="CodeJCore.UiSystemDependency" schema="schema/CodeJCore.UiSystemDependency.exsd"/>
   <extension-point id="CodeJCore.UiApplicationDependency" name="CodeJCore.UiApplicationDependency" schema="schema/CodeJCore.UiApplicationDependency.exsd"/>
   <extension-point id="CodeJCore.MetaverseApplication" name="CodeJCore.MetaverseApplication" schema="schema/CodeJCore.MetaverseApplication.exsd"/>
   <extension-point id="CodeJCore.Font" name="CodeJCore.Font" schema="schema/CodeJCore.Font.exsd"/>
   <extension-point id="CodeJCore.Theme" name="CodeJCore.Theme" schema="schema/CodeJCore.Theme.exsd"/>
   <extension
         id="CoreHandler"
         point="CodeJSvr.HttpHandlers">
      <client
            class="codejcore.handlers.CoreIHandler">
      </client>
   </extension>
   <extension
         id="IndexHandler"
         point="CodeJSvr.HttpHandlers">
      <client
            class="codejcore.handlers.IndexIHandler">
      </client>
   </extension>
   <extension
         id="IndexXRHandler"
         point="CodeJSvr.HttpHandlers">
      <client
            class="codejcore.handlers.IndexXRIHandler">
      </client>
   </extension>
   <extension
         point="CodeJSvr.HttpHandlers">
      <client
            class="codejcore.bounds.BoundsResponseIHandler">
      </client>
   </extension>

</plugin>
