<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="CodeJSvr.HttpHandlers">
      <client
            class="codejappmeditationchambersoundgong.handlers.SoundIHandler">
      </client>
   </extension>
   <extension
         point="CodeJSvr.HttpHandlers">
      <client
            class="codejappmeditationchambersoundgong.handlers.SoundResponseIHandler">
      </client>
   </extension>

</plugin>
