<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="ThreeJsHandler"
         point="CodeJSvr.HttpHandlers">
      <client
            class="codejthree.handlers.ThreeJsIHandler">
      </client>
   </extension>
   <extension
         point="CodeJCore.UiSystemDependency">
      <client
            class="codejthree.handlers.ThreeJsImport">
      </client>
   </extension>


</plugin>
