<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="ThreeJsHandler"
         point="CodeJSvr.HttpHandlers">
      <client
            class="codejquery.handlers.JQueryIHandler">
      </client>
   </extension>
   <extension
         point="CodeJCore.UiSystemDependency">
      <client
            class="codejquery.handlers.JQueryImport">
      </client>
   </extension>


</plugin>
